@charset "utf-8";

/* font */
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv2 Gothic Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background: linear-gradient(to left, #000 0%, #000030 100%);
    background-image: url(../img/bg/summonersrift.jpg);
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px solid #C89B3C;
    border: 15px;
}

body::-webkit-scrollbar {
    display: none;
}

ul,
li,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

table {
    box-sizing: border-box;
}

/* :start */

#onepage {
    width: 100%;
    height: 100vh;
    position: relative;
}

#onepage header {
    width: 1200px;
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 40;
}

#logo {
    width: 160px;
    height: 70px;
    margin-top: 20px;
    float: left;
}

#logo a img {
    width: 100%;
    height: 100%;
}

#tapbox {
    margin-top: 20px;
    width: 850px;
    height: 70px;
    float: right;
    display: flex;
    justify-content: space-evenly;
}

.tap {
    width: 20%;
    height: 100%;
    border-bottom: 2px solid white;
    position: relative;
    cursor: pointer;
}

.tap h1 {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    text-align: center;
    line-height: 80px;
    font-size: 1.4em;
    letter-spacing: 0.6rem;
}

.tapRec {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: white;
    bottom: -10%;
    ;
    left: 50%;
    transform: translateX(-50%);
    transform: rotate(-45deg);
}

.tap:hover {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to left, #c89b3c 0%, #fff 100%);
    border-image-slice: 1;
}

.gold_border {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to left, #c89b3c 0%, #fff 100%);
    border-image-slice: 1;
}

.gold_font {
    background: linear-gradient(to right, #C89B3C, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tap:hover h1 {
    /* color: #C89B3C; */
    background: linear-gradient(to right, #C89B3C, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tap:hover .tapRec {
    background-color: #ffc400;
}

#visual {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#visual1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}


/* .lineBg{
    stroke-miterlimit: 10;
    stroke-dasharray: 3;
    stroke-dashoffset: 1000;
    animation: dash 30s linear infinite;
} */

/* .lineBg_a{
    stroke-miterlimit: 10;
    stroke-dasharray: 3;
    stroke-dashoffset: 1000;
    animation: dash 20s linear infinite;
} */

.lineBg_b {
    stroke-miterlimit: 10;
    stroke-dasharray: 3;
    stroke-dashoffset: 1000;
    animation: dash 40s linear infinite;
}

.lineBg_c {
    stroke-miterlimit: 10;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

#section1GameInformation {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 250px 0 0 0;
    position: relative;
}

.s1_character {
    height: 570px;
    position: absolute;
    transform: translateX(-50%);
    left: -200px;
    bottom: 0;
    z-index: 400;
}

.mainchar {
    height: 100%;
    margin-left: 0;
    margin-top: 0;
    transition-property: all;
    transition-duration: 4s;
    transition-delay: 4s;
    transition-timing-function: ease-in-out;
}

.s1_character:hover .mainchar {
    animation: left_forward 2s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes left_forward {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: 765px;
        margin-top: -30px;
        transform: scale(1.1);
    }
}

.gameInfo {
    width: 600px;
    height: 300px;
    float: right;
    position: relative;
}

.gameInfo h1 {
    font-size: 60px;
    color: #C89B3C;
    font-family: 'Happiness-Sans-Title';
}

.gameInfo p {
    font-size: 16px;
    font-family: 'NEXON Lv2 Gothic';
    margin-top: 20px;
    line-height: 23px;
}

.gameInfo img {
    width: 550px;
    z-index: 20;
    position: absolute;
    top: 140%;
    left: 50%;
    animation: swing 3s ease-in-out infinite alternate;
}

@keyframes swing {
    0% {
        transform: rotate(2deg);
        width: 555px;
    }

    100% {
        transform: rotate(-2deg);
        width: 545px;
    }
}

.gameMpC {
    margin-top: 70px;
    width: 150px;
    height: 150px;
    float: right;
}

/* champion introduction */
#section2Champion {
    width: 100vw;
    height: 100vh;
    padding-top: 125px;
    padding-bottom: 10px;
    display: none;
}

#championBundle {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}

/* cf. 참고 clip-path hover
clip-path를 사용하면서 hover 효과로 clip-path가 다르게 들어가서
transition 효과를 주고 싶다면, 꼭지점의 갯수가 같게 들어가야하고
clip-path: none; 라고 쓰면 효과가 적용되지 않는다. */

.champion {
    width: 23%;
    height: 49%;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to left, #c89b3c 0%, #fff 100%);
    border-image-slice: 1;
    clip-path: polygon(82% 0, 100% 11%, 100% 100%, 0 100%, 0 0);
    transition: all 0.4s ease-in-out;
    position: relative;
    overflow: hidden;
}

.champion:hover {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 0 0);
    transition: all 0.4s ease-in-out;
    /* border: 2px solid #C89B3C; */
    border: 2px solid transparent;
    border-image: linear-gradient(to left bottom, #c89b3c 0%, #fff 100%);
    border-image-slice: 1;
}

.champion:hover img {
    transform: scale(1.1);
    opacity: 1;
}

.champion a img {
    width: 100%;
    height: 100%;
    transition: all 0.8s ease-in-out;
    opacity: 0.7;
}

.championName {
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    transition: all 0.4s ease-in-out;
}

.championName h1 {
    /* color: #fff; */
    background: linear-gradient(to right, #C89B3C, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    line-height: 70px;
}

.champion:hover .championName {
    background-color: rgba(200, 155, 60, 0.8);
    transition: all 0.4s ease-in-out;
}

.champion:hover .championName h1 {
    background: linear-gradient(to right, #fff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* section3 유니버스(세계관) 지역 */
#section3universe {
    display: none;
}

#universe {
    width: 1200px;
    margin: 0 auto;
    padding-top: 120px;
}

#universe h1 {
    font-size: 40px;
    padding: 15px;
}

#regionBox {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 50px;
    padding-bottom: 80px;
}

#regionBox a {
    width: 31%;
    height: 220px;
    margin: 5px 5px 30px 5px;
    overflow: hidden;
}

.region {
    width: 100%;
    height: 100%;
    /* border: 1px solid #C89B3C; */
    border: 2px solid transparent;
    border-image: linear-gradient(to right bottom, #c89b3c 0%, #fff 100%);
    border-image-slice: 1;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    overflow: hidden;
    transition: all 0.9s ease-in-out;
    clip-path: polygon(0% 0%, 100% 0, 100% 0, 100% 100%, 0% 100%);
    /* clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0); */
}

.void {
    background-image: url(../img/universe/공허.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.9s ease-in-out;
}

.shadow-isles {
    background-image: url(../img/universe/그림자군도.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.9s ease-in-out;
}

.noxus {
    background-image: url(../img/universe/녹서스.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.9s ease-in-out;
}

.demacia {
    background-image: url(../img/universe/데마시아.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.9s ease-in-out;
}

.bandle-city {
    background-image: url(../img/universe/밴들시티.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.9s ease-in-out;
}

.bilgewater {
    background-image: url(../img/universe/빌지워터.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.9s ease-in-out;
}

.shurima {
    background-image: url(../img/universe/슈리마.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.9s ease-in-out;
}

.ionia {
    background-image: url(../img/universe/아이오니아.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.9s ease-in-out;
}

.ixtal {
    background-image: url(../img/universe/이쉬탈.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.9s ease-in-out;
}

.zaun {
    background-image: url(../img/universe/자운.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.9s ease-in-out;
}

.mount-targon {
    background-image: url(../img/universe/타곤.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.9s ease-in-out;
}

.freljord {
    background-image: url(../img/universe/프렐요드.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.9s ease-in-out;
}

.piltover {
    background-image: url(../img/universe/필트오버.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.9s ease-in-out;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.9s ease-in-out;
    clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
}

.region:hover .overlay {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
    transition: all 0.9s ease-in-out;
}

.region:hover {
    clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
    transition: all 0.6s ease-in-out;
    border: none;
}

.region img {
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    transition: all 0.6s ease-in-out;
}

.region:hover img {
    display: none;
    transition: all 0.6s ease-in-out;
}

.shadow-isles img,
.demacia img,
.bilgewater img,
freljord img {
    width: 13%
}

.regionName {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.02);
}

.regionName h2 {
    line-height: 40px;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 5px;
    padding-left: 5px;
    background: linear-gradient(to right, #C89B3C, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    font-weight: bold;
}

.region:hover .regionName {
    display: none;
}


/* game start */

#section4GameStart {
    width: 100vw;
    height: 100vh;
    padding-top: 110px;
    display: none;
    overflow: hidden;
    border-radius: 15px;
    border: 3px solid #C89B3C;
    position: relative;
}

#section4GameStart video {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    /* position: fixed; */
}

#section4GameStart button {
    width: 250px;
    height: 80px;
    position: absolute;
    top: 80%;
    left: 77%;
    transform: translate(-50%, -50%);
    z-index: 20 !important;
    /* background-color: #C89B3C; */
    background: linear-gradient(to left bottom, #c89b3c, #fff);
    color: white;
    font-weight: bold;
    font-size: 30px;
    border: 1px solid #ffc400;
    clip-path: polygon(10% 0, 100% 0, 100% 77%, 90% 100%, 0 100%, 0 23%);
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

#section4GameStart button:hover {
    /* background: linear-gradient(to left bottom, #fff, #fff); */
    /* color: black; */
    background: linear-gradient(to right, #C89B3C, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-width: 2px;
    transition: all 0.3s ease-in-out;
    /* clip-path: polygon(0 0, 90% 0, 100% 23%, 100% 99%, 10% 100%, 0 77%); */
    clip-path: polygon(0 0, 100% 0, 100% 0%, 100% 100%, 0% 100%, 0 100%);
}

#GameBox {
    width: 1700px;
    margin: 0 auto;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}


.gamebox:nth-child(1) {
    grid-column: 1/5;
    display: flex;
    align-items: center;
}

.gamebox:nth-child(2) {
    grid-column: 5/7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gamebox:nth-child(3) {
    display: flex;
    align-items: center;
}

.game_map_img {
    width: 100%;
    animation: motion 1s linear 0s infinite alternate;
}

@keyframes motion {
    0% {
        margin-left: -70px;
        margin-top: -90px;
    }

    100% {
        margin-left: -60px;
        margin-top: -80px;
    }
}

.game_map_img img {
    width: 110%;
    margin-left: -100px;
    margin-top: 70px;
    opacity: 0.9;
}

.game_video_box {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-top: -90px;
    margin-left: -70px;
    position: relative;
}


.game_video_box svg {
    position: absolute;
    width: 600px;
    height: 600px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate(-9.5%, -12%);
    z-index: 188888;
}

.game_video_box svg circle {
    width: 600px;
    height: 600px;
}

.game_video_box video {
    height: 100% !important;
    border-radius: 50% !important;
    object-fit: cover;
}

.circle_strokea {
    stroke-miterlimit: 10;
    animation: circle_delaya 10s ease-in-out infinite alternate;
}

.circle_strokeb {
    stroke-miterlimit: 10;
    animation: circle_delayb 15s linear infinite alternate;
}

@keyframes circle_delaya {
    0% {
        stroke-dasharray: 300px;
    }

    100% {
        stroke-dasharray: 250px;
    }
}

@keyframes circle_delayb {
    from {
        stroke-dasharray: 250px;
    }

    to {
        stroke-dasharray: 100px;
    }
}

.v_01 {
    display: none;
}

.v_02 {
    display: none;
}

.gamebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video_selector {
    width: 100%;
    height: auto;
    margin-top: 150px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.vsbox {
    border: 2px solid #0ac8b9;
    padding: 15px 5px 15px 5px;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    cursor: pointer;
}

.click_color {
    background-color: rgba(10, 200, 185, 0.4);
    color: #fff !important;
    cursor: default;
    animation: fill 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0ms;
}

@keyframes fill {
    0% {
        clip-path: polygon(0 0, 100% 100%, 100% 0, 0% 100%);
        background-color: rgba(10, 200, 185, 0.4);
        border: 2px solid transparent;
    }

    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        background-color: rgba(10, 200, 185, 0.4);
        border: 2px solid transparent;
    }
}

.click_text_color {
    color: #fff !important;
}

.vsbox h3 {
    font-size: 18px;
    color: #c89b3c;
    font-weight: bold;
    font-family: 'Happiness-Sans-Title';
}

.vsbox p {
    font-size: 13px;
    font-family: 'NEXON Lv2 Gothic';
    padding-top: 5px;
    color: #c4b998;
    font-weight: 500;
    background-color: transparent !important;
}

#game_st_btn {
    width: 100%;
    height: 140px;
    margin-top: 100px;
}

.game_s_Btn {
    width: 230px;
    margin: 20px auto;
    height: 60px;
    background-color: rgba(10, 200, 185, 0.8);
    position: relative;
    cursor: pointer;
}

.game_overlay_box {
    width: 236px;
    height: 66px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    position: absolute;
    top: -3px;
    left: -3px;
    clip-path: polygon(50% 0%, 100% 0, 100% 70%, 87% 100%, 0 100%, 0 30%, 13% 0);
    transition: clip-path 0.4s ease-in-out;
}

.game_s_Btn:hover .game_overlay_box {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 0, 0 0);
    transition: clip-path 0.4s ease-in-out;
    border-top: 1px solid transparent;
    border-image: linear-gradient(to bottom left, #c89b3c 0%, #fff 100%);
    border-image-slice: 1;
}

.game_s_Btn span {
    line-height: 60px;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    display: block;
    letter-spacing: 0.2rem;
}