@charset "utf-8";

/* font */
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv2 Gothic Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    position: relative;
    width: 100vw;
    height: auto;
    background-color: black;
}

body::before{
    background-image: url(../img/bg/shadow.jpg);
    opacity: 0.4;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    content: "";
    z-index: -1;
}

body::-webkit-scrollbar {
    display: none;
}

ul,
li,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

table {
    box-sizing: border-box;
}

/* 유니버스 시작 */
#universe_contents{
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: 1px solid red;
}

#skew_universe{
    width: 100%;
    height: 600px;
    margin-top: 60px;
    display: flex;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
}

.skew_box{
    border: 1px solid #fff;
    height: 100%;
    width: 25%;
    transform: skewX(-15deg);
    flex: 1;
    border: 3px solid transparent;
    border-image: linear-gradient(to top, #c89b3c 0%, #fff 100%);
    border-image-slice: 1;
    overflow: hidden;
    transition: all .4s;
    position: relative;
}

.skew_box:nth-child(2), .skew_box:nth-child(3), .skew_box:nth-child(4){
    border-left: none;
}

.skew_box:hover {
    flex-grow: 8;
    border: 3px solid transparent;
    border-image: linear-gradient(to bottom, #c89b3c 0%, #fff 100%);
    border-image-slice: 1;
}

.skew_box:nth-child(2):hover, .skew_box:nth-child(3):hover, .skew_box:nth-child(4):hover{
    border-left: none;
}

.skew_box:hover img{
    /* width: 100%; */
}

.skew_box img{
    height: 100%;
    transform: skewX(0);
}

.skew_box:nth-child(1) img{
    margin-left: -350px;
}

.skew_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all .4s linear;
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skew_overlay span{
    transform: skewX(15deg);
    font-size: 13px;
    margin-bottom: 2px;
    color: #cdbd91;
}

.skew_overlay h4{
    transform: skewX(15deg);
    font-size: 25px;
}

.skew_box:hover .skew_overlay{
    display: none;
}


#universe_title{
    width: 1300px;
    margin: 0 auto;
    border: 1px solid yellow;
    padding-top: 50px;
}

#uni_ti_Img{
    width: 100px;
    height: 170px;
    margin: 0 auto 10px;
    position: relative;
}

#uni_ti_Img>img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#universe_title>h3{
    font-size: 80px;
    background: linear-gradient(to bottom, #b19150, #af904f, #9a7b41, #7c5d2d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'arial';
    font-weight: normal;
    text-align: center;
}