@charset "utf-8";

/* font */
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv2 Gothic Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    width: 100vw;
    height: auto;
    background-color: hsl(0, 0%, 18%);
    background-size: 3px 3px;
    background-image:
        linear-gradient(0deg, hsla(0, 0%, 0%, 0) 0, hsla(0, 0%, 5%, 1) 3px),
        linear-gradient(90deg, hsla(0, 0%, 0%, 0) 0, hsla(0, 0%, 15%, 1) 5px);
}

body::-webkit-scrollbar {
    display: none;
}

ul,
li,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

table {
    box-sizing: border-box;
}

/* 유니버스 시작 */

#sub_Title {
    width: 90%;
    margin: 5px auto 0;
    display: flex;
}

#sub_Title h2 {
    font-size: 18px;
}

#sub_Title h2:nth-child(1) {
    cursor: pointer;
}

#sub_Title h2:nth-child(2) {
    cursor: none;
}

#sub_Title span {
    font-size: 18px;
    font-weight: bold;
}

#sub_Title h2:nth-child(1):hover {
    color: #c89b3c;
}

#universe_contents {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#skew_universe {
    width: 100%;
    height: 600px;
    margin-top: 30px;
    display: flex;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
}

.skew_box {
    border: 1px solid #fff;
    height: 100%;
    width: 25%;
    transform: skewX(-15deg);
    flex: 1;
    border: 3px solid transparent;
    border-image: linear-gradient(to top, #c89b3c 0%, #fff 100%);
    border-image-slice: 1;
    overflow: hidden;
    transition: all .4s;
    position: relative;
}

.skew_box:nth-child(2),
.skew_box:nth-child(3),
.skew_box:nth-child(4) {
    border-left: none;
}

.skew_box:hover {
    flex-grow: 8;
    border: 3px solid transparent;
    border-image: linear-gradient(to bottom, #c89b3c 0%, #fff 100%);
    border-image-slice: 1;
}

.skew_box:nth-child(2):hover,
.skew_box:nth-child(3):hover,
.skew_box:nth-child(4):hover {
    border-left: none;
}

/* .skew_box:hover img{
    width: 100%;
} */

.skew_box img {
    height: 100%;
    transform: skewX(15deg) !important;
}

.skew_box:nth-child(1) img {
    margin-left: -350px;
}

.skew_box:nth-child(3) img {
    margin-left: -65px;
    width: 120% !important;
}

.skew_box:nth-child(4) img {
    margin-left: -100px;
}

.skew_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all .4s linear;
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skew_overlay span {
    transform: skewX(15deg);
    font-size: 13px;
    margin-bottom: 2px;
    color: #cdbd91;
}

.skew_overlay h4 {
    transform: skewX(15deg);
    font-size: 25px;
}

.skew_box:hover .skew_overlay {
    display: none;
}

.rec_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: skewX(15deg) !important;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

.rec_box {
    width: 500px;
    height: 300px;
    border: 3px solid #c89b3c;
    border-radius: 2px;
    background-color: rgba(250, 250, 250, 0.2);
}

.rec_box h3 {
    color: #c89b3c;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}

.rec_box p {
    text-align: center;
    padding-top: 15px;
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
}

.over_btn {
    --w: 200px;
    --h: 40px;
    border: 2px solid #c89b3c;
    margin: 20px auto 0;
    cursor: pointer;
    position: relative;
    display: flex;
    width: var(--w);
    height: var(--h);
    flex-direction: column;
}

i {
    content: '';
    width: 100%;
    height: 100%;
    transition: all .5s;
    background: #c89b3c;
    transform: scaleX(0);
}

i:nth-child(1) {
    transition-delay: .02s;
}

i:nth-child(2) {
    transition-delay: .04s;
}

i:nth-child(3) {
    transition-delay: .06s;
}

i:nth-child(4) {
    transition-delay: .08s;
}

i:nth-child(5) {
    transition-delay: .10s;
}

i:nth-child(6) {
    transition-delay: .12s;
}

i:nth-child(7) {
    transition-delay: .14s;
}

i:nth-child(8) {
    transition-delay: .16s;
}

i:nth-child(9) {
    transition-delay: .18s;
}

i:nth-child(10) {
    transition-delay: .2s;
}

.over_btn span {
    position: absolute;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    line-height: var(--h);
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    transition: all .2s;
    z-index: 100;
}

.over_btn i {
    transform-origin: top left;
}

.over_btn:hover i {
    transform: scaleX(1);
}

.over_btn:hover span {
    transition-delay: .2s;
}

/* title */
#universe_title {
    width: 1300px;
    margin: 0 auto 100px;
    padding-top: 50px;
}

#uni_ti_Img {
    width: 100px;
    height: 170px;
    margin: 0 auto 15px;
    position: relative;
}

#uni_ti_Img>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#universe_title>img {
    width: 100%;
}

.map_img {
    width: 800px;
    margin: 20px auto 40px;
    border-radius: 10px;
    position: relative;
}

.map_img img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.map_marker {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    opacity: 0.4;
    right: 148px;
    bottom: 84px;
}

.map_marker::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(200, 155, 60, 0.7);
    position: absolute;
    /* left: 50%;
    top: 50%;
    margin-top: -3px;
    margin-left: -3px; */
    animation: dot 1.2s infinite;
}

@keyframes dot {
    100% {
        opacity: 1;
        transform: scale(3.5);
        opacity: 0;
    }
}

#universe_title>h3 {
    font-size: 80px;
    background: linear-gradient(to bottom, #b19150, #af904f, #9a7b41, #7c5d2d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'arial';
    font-weight: normal;
    text-align: center;
}

#universe_text {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 100px;
}

#universe_text p {
    font-size: 15px;
    word-break: keep-all;
    padding-bottom: 20px;
    font-weight: 400;
    color: #c4b998;
    line-height: 1.6;
    text-align: justify;
}

.uni_cham {
    font-weight: 25px;
    color: #c4b998;
    text-align: center;
    padding-bottom: 50px;
    overflow: hidden;
}

#uni_char {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

#uni_box {
    width: 120%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: -200px;
    background-image: url(../img/bg/shadow.jpg);
    position: absolute;
    opacity: 0.2;
    z-index: 0;
}


#character {
    width: 1300px;
    height: auto;
    margin: 0 auto;
}

#unCharacter {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.unChar {
    width: 240px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.unChar:hover {
    border: 1px solid transparent;
    border-image: linear-gradient(to left top, #c89b3c 0%, #fff 100%);
    border-image-slice: 1;
}

.unChar:nth-of-type(1),
.unChar:nth-of-type(2),
.unChar:nth-of-type(3),
.unChar:nth-of-type(4),
.unChar:nth-of-type(5) {
    margin-bottom: 25px;
}

.unChar img {
    width: 100%;
    height: 100%;
    opacity: 1 !important;
    transition: all 0.4s ease-in-out;
}

.unChar:hover img {
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}

.championName {
    width: 100%;
    height: 87px;
    background: linear-gradient(to left, rgba(200, 155, 60, 0.4) 0%, rgba(250, 255, 255, 0.4) 100%);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    display: none;
}

.cham_btn {
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    color: #c89b3c;
    transition: all 0.5s;
    position: relative;
    align-self: center;
    margin-top: -30px;
    margin-left: 10px;
    border-radius: 50%;
}

.cham_btn span {
    color: #fff !important;
    font-weight: bold;
    z-index: 5;
    opacity: 1;
}

.cham_btn::before {
    content: "더보기";
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(10, 200, 185, 1);
    transition: all 0.3s;
    border-radius: 50px;
}

.cham_btn:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
}

.cham_btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    background-color: rgba(200, 155, 60, 0.1);
    border: 1px solid rgba(10, 200, 185, 1);
    transform: scale(1.2, 1.2);
}

.cham_btn:hover::after {
    opacity: 1;
    transform: scale(1.1);
}

.unChar:hover .championName {
    border-top: 2px solid transparent;
    border-image: linear-gradient(to left, #c89b3c 0%, #fff 100%);
    border-image-slice: 1;
}

.chmn {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    width: 255px;
    height: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotate(160deg);
    margin-bottom: -53px;
    margin-left: 10px;
    color: #fff !important;
}

.unChar:hover .chmn {
    border: 1px solid #c89b3c;
}

.chmn h2 {
    transform: rotate(-160deg);
    margin-right: 130px;
    margin-top: 40px;
}

.uni_video {
    font-weight: 25px;
    color: #c4b998;
    text-align: center;
    margin-top: 200px;
    padding-bottom: 50px;
    overflow: hidden;
}

#uni_scene {
    width: 1300px;
    height: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-bottom: 100px;
}

.scene_item {
    transition: all 0.3s ease-in-out;
    position: relative;
}

.scene_item:nth-child(1),
.scene_item:nth-child(8) {
    grid-column: 1/3;
}

.scene_item:nth-child(9) {
    grid-column: 3/5;
}

.s01 {
    background-image: url(../img/universe_scene/01.jpg);
    background-position: center;
    background-size: cover;
}

.s02 {
    background-image: url(../img/universe_scene/02.jpg);
    background-position: left center;
    background-size: cover;
}

.s03 {
    background-image: url(../img/universe_scene/03.jpg);
    background-size: cover;
    background-position: 72.5% center;
}

.s04 {
    background-image: url(../img/universe_scene/04.jpg);
    background-position: 45% center;
    background-size: cover;
}

.s05 {
    background-image: url(../img/universe_scene/05.jpg);
    background-size: cover;
    background-position: center;
}

.s06 {
    background-image: url(../img/universe_scene/06.jpg);
    background-size: cover;
    background-position: center;
}

.s07 {
    background-image: url(../img/universe_scene/07.jpg);
    background-size: cover;
}

.s08 {
    background-image: url(../img/universe_scene/08.jpg);
    background-size: cover;
}

.s09 {
    background-image: url(../img/universe_scene/09.jpg);
    background-size: cover;
}

.scene_item:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.scene_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.scene_olborder {
    width: 95%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
}

.scene_item:nth-of-type(odd) .scene_olborder {
    border: 2px solid transparent;
    border-image: linear-gradient(to left bottom, #c89b3c 0%, #fff 100%);
    border-image-slice: 1;
}

.scene_item:nth-of-type(even) .scene_olborder {
    border: 2px solid transparent;
    border-image: linear-gradient(to right top, #c89b3c 0%, #fff 100%);
    border-image-slice: 1;
}

.scene_olborder p {
    font-size: 23px;
    color: #c89b3c;
    font-family: 'InfinitySans-RegularA1';
    font-weight: lighter;
    text-align: justify;
}

.scene_olborder p span {
    font-size: 15px;
    color: #c4b998;
}

.uni_exist {
    font-weight: 25px;
    color: #c4b998;
    text-align: center;
    margin-top: 200px;
    padding-bottom: 50px;
    overflow: hidden;
}

.e01 {
    background-image: url(../img/universe_exist/01.jpg);
    background-position: center;
    background-size: cover;
}

.e02 {
    background-image: url(../img/universe_exist/02.jpg);
    background-size: cover;
}

.e03 {
    background-image: url(../img/universe_exist/03.jpg);
    background-size: cover;
}

.e04 {
    background-image: url(../img/universe_exist/04.jpg);
    background-size: cover;
}

.e05 {
    background-image: url(../img/universe_exist/05.jpg);
    background-size: cover;
}

.e06 {
    background-image: url(../img/universe_exist/06.jpg);
    background-size: cover;
}

.e07 {
    background-image: url(../img/universe_exist/07.jpg);
    background-size: cover;
}

.e08 {
    background-image: url(../img/universe_exist/08.jpg);
    background-size: cover;
}

.e09 {
    background-image: url(../img/universe_exist/09.jpg);
    background-size: cover;
}

.uni_light {
    font-weight: 25px;
    color: #c4b998;
    text-align: center;
    margin-top: 200px;
    padding-bottom: 50px;
    overflow: hidden;
}

#scene_light {
    width: 1300px;
    height: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-bottom: 100px;
}

#scene_ligth .scene_item {
    transition: all 0.3s ease-in-out;
    position: relative;
}

#scene_light .scene_item:nth-child(1),
#scene_light .scene_item:nth-child(6) {
    grid-column: 1/3;
}

#scene_light .scene_item:nth-child(2),
#scene_light .scene_item:nth-child(5),
#scene_light .scene_item:nth-child(7) {
    grid-column: 3/5;
}

.l01{
    background-image: url(../img/universe_light/01.jpg);
    background-size: cover;
    background-position: center;
}

.l02{
    background-image: url(../img/universe_light/02.jpg);
    background-size: cover;
    background-position: right;
}

.l03{
    background-image: url(../img/universe_light/03.jpg);
    background-size: cover;
}

.l04{
    background-image: url(../img/universe_light/04.jpg);
    background-size: cover;
    background-position: center top;
}

.l05{
    background-image: url(../img/universe_light/05.jpg);
    background-size: cover;
}

.l06{
    background-image: url(../img/universe_light/06.jpg);
    background-size: cover;
}

.l07{
    background-image: url(../img/universe_light/07.jpg);
    background-size: cover;
    background-position: center;
}

#footer1{
    margin-top: 200px;
    background-color: rgba(63, 62, 58, 0.3);
    width: 100%;
    height: 70px;
    border-top: 2px solid #343434;
    border-bottom: 1px solid #343434;
}

#footer_box{
    width: 100%;
    height: 200px;
    background-color: #100009;
}

#ft1{
    width: 1300px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ft1_img{
    width: 100px;
    height:40px;
    margin-left: 20px;
}

.ft1_img a img{
    width: 100%;
    height: 100%;
}

#ft2{
    width: 1300px;
    height: 100%;
    margin: 0 auto;
}

#ft2 p{
    color: #7e7e7e;
    font-size: 13px;
    text-align: center;
    line-height: 140%;
    padding-top: 25px
}